.layout {
    background: linear-gradient(to top, #ffffff, #eae8f5, #d4d1ea, #bdbbe0, #a6a6d6);
    width: 100%;
    position: relative;
    padding: 20px 30px;
    box-sizing: border-box;
    height: calc(100vh - 130px);
}